{% extends 'base.html' %}
{% block title %}Sistema Control 2026{% endblock %}
{% block content %}
<h1>¡¡Bienvenido a Sistema de control!!</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut veritatis corrupti doloribus eos numquam, nemo molestias praesentium nam distinctio quod odio atque assumenda voluptates aperiam, dignissimos provident rem voluptas nostrum.
    Veritatis inventore laboriosam exercitationem, beatae sequi temporibus eaque aliquid omnis! Dolor libero blanditiis rerum rem et ipsum veritatis quaerat temporibus, beatae similique esse reiciendis expedita enim veniam, voluptates dolorem autem?
    Ipsam ratione, repellendus delectus et iure, tenetur porro vero provident soluta commodi in excepturi ad dolorem? Maxime laboriosam eos, ipsa ipsum voluptatibus, dolorum iure ex rem, repellat harum deserunt minima?
    Id sed officiis architecto amet. Molestias eius incidunt quae temporibus aspernatur eaque aliquid, numquam in similique? Odit fugit unde facilis voluptatum architecto consectetur accusamus. Neque, cum! Fugit quas accusamus vel.
    Quo eaque exercitationem expedita voluptatibus inventore esse tempora dolorum ea, totam blanditiis modi quos saepe similique architecto corrupti ipsam labore obcaecati laboriosam nulla? Unde adipisci quidem modi eum magni recusandae?
</p>
{% endblock %}